name: Sync Folder from Another Repo

on:
  schedule:
    - cron: '0 * * * *' # recomendado no plano gratuito
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Checkout external repo
        uses: actions/checkout@v3
        with:
          repository: ArnaldoCarvalho/SAD-WebSite
          path: temp-repo

      - name: Copy files
        run: |
          mkdir -p SAD_WebSite
          rm -rf SAD_WebSite/*
          cp -R temp-repo/* SAD_WebSite/

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add SAD_WebSite
          git commit -m "Sync from external repo" || echo "No changes to commit"
          git push
